<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHz8nvS4lkkaeGFFam6jdwQv49n9XS68c</string>
	<key>GCM_SENDER_ID</key>
	<string>706355460380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-92723</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-92723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706355460380:ios:cc2a8554b76edc9ffee2d9</string>
</dict>
</plist>